@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

 *,
*:before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width:40%;
    top:50%;
    left:50%;
    position:absolute;
    min-width:450px;
    min-height: 100px;
    transform: translate(-50%,-50%);
    background-color: rgb(145, 247, 198);
    border-radius: 15px;
}
#new{
    padding: 30px 20px;
    position:relative;
}
#new input{
    width:75%;
    height: 45px;
    padding: 12px;;
    color:black;
    position: relative;
    border-radius: 6px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size:15px;
    border: 2px solid #d1d6;
}
#new input:focus{
    border-color: #d8189b;
    outline: none;
}
#new button{
    position: relative;
    background-color: #0f76ec;
    border:none;
    color:white;
    float:right;
    font-weight: 500;
    font-size:17px;
    width:20%;
    height:45px;
    font-family: 'Poppins';
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
#new button:hover{
    background-color: rgb(4, 59, 241);
    color: white;
}
#tasks{
    position: relative;
    padding: 30px 20px;
    margin-top: 10px;
    background-color: rgb(247, 181, 240);
    border-radius: 10px;
    width:100%;
}
.task{
    padding: 5px 10px;
    display: flex;
    height: 50px;
    background-color: #73dff4;
    margin-bottom: 8px;
    border: 1px solid #086a8b;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.task:hover{
    background-color: rgb(253, 174, 100);
    color: black;
}
.task span{
    font-family: poppins;
    font-weight: 400;
    font-size: 15px;

}
.task button{
    height: 100%;
    width:40px;
    border:none;
    background-color: #010514;
    color:white;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}
.task button:hover{
    background-color: red;
    color:white;
}
.trash{
    font-size: 25px;
    font-style: bold;
    font-weight: 500;
}
#completed{
    height: 30px;
    width: 30px;
}